.container2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 50px; /* Tambahkan jarak margin di sini */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

h2 {
  text-align: center;
  margin: 0 0 30px;
  color: #ff8680;
}

.login-form {
  margin: 0 auto;
  max-width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #ff8680;
  color: #fff;
  cursor: pointer;
}

p {
  margin-top: 20px;
}

a {
  color: #ff8680;
}
